<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text">NYT Scrapper</p>
    </div>

    <ul class="nav navbar-nav">
      <% if (page === 'index') { %> 
        <li class="active"><a href="#">Current Articles</a></li>
        <li><a href="/saved">Saved Articles</a></li>
      <% } else { %>
        <li><a href="/">Current Articles</a></li>
        <li class="active"><a href="#">Saved Articles</a></li>
      <% } %>
    </ul>
  </div>
</nav>