<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text">NYT Scrapper</p>
    </div>
  </div>
</nav>

<div class="row" id="nav-row">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" <% if(page==="index") {%>class="active"
          <% } %>>
            <a href=<% if(page==="index") {%>
              "#"
              <% } else { %>
                "/"
                <% } %>> Current Articles</a>
        </li>
        <li role="presentation" <% if(page==="saved") {%>class="active"
          <% } %>>
            <a href=<% if(page==="saved") {%>
              "#"
              <% } else { %>
                "/saved"
                <% } %>> Saved Articles</a>
        </li>
      </ul>
    </div>
  </div>
</div>