<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/header.ejs') %>
</head>

<body>

  <!-- Page header -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-text">NYT Scrapper</p>
      </div>
    </div>
  </nav>

  <div class="container" id="nav-container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#">Current Articles</a>
        </li>
        <li role="presentation">
          <a href="/saved">Saved Articles</a>
        </li>
      </ul>
    </div>
  </div>

  <%- include('./partials/scripts.ejs') %>
</body>

</html>