<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/header.ejs') %>
</head>

<body>

  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#">Current Articles</a>
        </li>
        <li role="presentation">
          <a href="/saved">Saved Articles</a>
        </li>
      </ul>
    </div>
  </div>

  <%- include('./partials/scripts.ejs') %>
</body>

</html>