<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/header.ejs') %>
</head>

<body>

  <!-- Page Header -->
  <%- include('./partials/navbar.ejs', {page: "saved"}) %>

  <div class="row" id="saved-row">
    <div class="container">
      <%  articles.forEach( a => {  %>
        <%- include('./partials/article.ejs', {article: a}) %>
      <%  });  %>
    </div>
  </div>

  <%- include('./partials/scripts.ejs') %>
  
</body>

</html>